<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRcodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>602820B11C1B2AF0003A3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>602820C81C1B2AF1003A3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>602820D31C1B2AF1003A3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
